@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Amiora';
	src: url('/fonts/Amiora.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.scrollbar {
	scrollbar-gutter: stable both-edges;
}
